*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
/* The outer most container*/
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
/* Card in the middle*/
.card{
    padding: 4rem 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 360px;
}
/*Eleven Labs Logo*/
.company-name{
    position:absolute;
    top: 2rem;

}
.company-name img{
    height: 100px;
}
/*Credentials Box*/
.credential-box{
    padding: 6rem 0 6rem 0;
    height: 100vh;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:stretch;
}
.credential-box h1{
    font-size:24px;
    font-weight: 600;
}
/*Signup button*/
.signup-btn{
    position:relative;
    width: 100%;
    color: #242426;
    margin: 2.5rem 0 2rem 0;
}
.signup-btn button{
    position: relative;
    width: 100%;
    height: 36px;
    border: 1px solid #e5e5e6;
    border-radius: 12px;
    background: transparent;
    font-weight: 500;
    font-size: 14px;
}
.signup-btn button:hover{
    border-color: rgba(0, 0, 25, .161);
    background-color: rgba(0, 0, 0, .02);

}
.signup-btn img{
    position: absolute;
    left: 10px;
    height: 50%;
    height: 20px;
}
/*Custom line*/
.custom-line{
    border: none;
    height:1px;
    background-color:#e5e5e6;
    width: 100%;
    margin: 0 0 1rem 0;
}
/*Credentials form*/
.credentials-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .25rem;
}
.form-label{
    font-size: 14px;
    margin: 10px 0;
    color: #242426;
}
.form-input{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.form-input input{
    width: 100%;
    height: 46px;
    border: 1px solid #e5e5e6;
    border-radius: 12px;
}
.form-input input:hover{
    border-color: rgba(0, 0, 25, .161);
}
.form-input span{
    color: #A6A6AE;
    position: absolute;
    right:20px;
    
}
.submit-btn{
    width: 100%;
    height: 36px;
    margin: 1rem 0;
    border: 1px solid #e5e5e6;
    background-color: #A6A6AE;
    color: #F4F4F5;
    border-radius: 12px;
    height: 46px;
    font-size: 14px;
    font-weight: 500;
}

/*Footer for the credential box*/
.cred-footer{
    font-size:14px;
    color: #323235;
}
.cred-footer span{
    text-underline-offset: 2px;;
    text-decoration-line: underline;
    text-decoration-color: #e5e5e6;
    text-decoration-thickness: 1.5px;
    cursor:pointer;

}
.cred-footer span:hover{
    animation-name: linkAnimation;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
/*Main Footer*/
.main-footer{
    padding: 24px;
    background-color: #FAFAFA;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 17, .529);
    font-size: 14px;
}
@keyframes linkAnimation{
    from {text-decoration-color: #e5e5e6;}
    to {text-decoration-color:#030712;}
}
.main-footer a{
    cursor: pointer;
    text-decoration-line:underline;
    text-decoration-color: #e5e5e6;
    text-underline-offset: 2px;
    text-decoration-thickness: 1.5px;
}
.main-footer a:hover{
    animation-name: linkAnimation;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    /* text-decoration-color: #030712; */
}




@media only screen and (max-width: 768px){
    .card{
        padding: 6rem 0;
    }
    .company-name{
        display:none;
    }
    
}